:root {
  --primary: #30a8e0;
  --bg: #123456;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--bg);
  /* min-height: 3000px; */
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(255, 255, 255, 90%);
  /* border-bottom: 1px solid var(--bg); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--bg);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 0) 60%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .hero-logo img {
  width: 10%;
}

.hero .content h1 {
  font-size: 2.8rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.2);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.2);
  color: #fff;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.scholarship-intro .content .cta,
.scholarship-2 .content .cta,
.scholarship-3 .content .cta,
.scholarship-4 .content .cta,
.scholarship-5 .content .cta,
.scholarship-6 .content .cta,
.scholarship-outro .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  justify-content: center;
}

/* About */

.about,
.program,
.testimony {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.program h2,
.testimony h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.program h2 span,
.testimony h2 span,
.partner h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 10rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .about-img img {
  height: 25rem;
  width: 25rem; /* Ensure width is the same as height */
  border-radius: 50%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 150;
  line-height: 1.6;
}

/* Program Section */
.program h2 {
  margin-bottom: 0.5rem;
}

.program p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.program .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.program .row .program-card {
  text-align: center;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.program .row .menu-card img {
  width: 80%;
}

.program .row .menu-card .menu-card-tittle {
  margin-top: 1rem auto 0.5rem;
}

.program .cta-tes,
.cta-beasiswa,
.cta-komunitas,
.cta-kontak {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Testimony */

.testimony .row {
  display: flex;
}

.testimony .row .testimony-img {
  flex: 1 1 5rem;
}

.testimony .row .testimony-img img {
  width: 50%;
}

.testimony .row .testimony-img img {
  height: 20rem;
  width: 20rem; /* Ensure width is the same as height */
  object-fit: cover;
  border-radius: 50%;
}

.testimony .row .content {
  flex: 1 1 40rem;
  padding: 0 1rem;
}

.testimony .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.testimony .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 150;
  line-height: 1.6;
}

/* Partner */

.partner .row {
  padding-top: 0rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0rem;
  justify-content: center;
}

.partner .row .partner-card .partner-card-tittle {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.partner .row .partner-card {
  text-align: center;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.partner .row .partner-card img {
  width: 40%;
}

.partner {
  padding: 1rem 5% 0.5rem;
}

.partner h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 0rem;
}

/* Footer */
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit p {
  color: var(--primary);
  font-weight: 700;
}

/* Scholarship */

.scholarship-intro .content,
.scholarship-2 .content,
.scholarship-3 .content,
.scholarship-4 .content,
.scholarship-5 .content,
.scholarship-6 .content,
.scholarship-outro .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container is tall enough */
  padding: 20px; /* Adds padding if needed */
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -1000%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
    text-align: center;
  }

  .about .about-img img {
    height: 25rem;
    width: 100%; /* Adjust width as needed, or keep it auto if aspect ratio is to be maintained */
    object-fit: cover;
    display: block; /* Makes the image a block-level element */
    margin: auto; /* Centers the image horizontally */
  }

  .program .row .program-card img {
    width: 40%;
  }

  .testimony .row {
    flex-wrap: wrap;
    text-align: center;
  }

  .testimony .testimony-img img {
    height: 10rem;
    width: 20%; /* Adjust width as needed, or keep it auto if aspect ratio is to be maintained */
    object-fit: cover;
    display: block; /* Makes the image a block-level element */
    margin: auto; /* Centers the image horizontally */
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .program p {
    font-size: 1.2rem;
  }

  .scholarship-intro .content .scholarship-card img {
    max-width: 100%;
    height: auto;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
